.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  background-color: var(--color-background);
}

.main {
  display: flex;
  width: 100%;
  max-width: var(--max-content-width);
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-foreground);
  padding: 0 24px;
}

@media (max-width: 600px) {
  .main {
    padding: var(--spacing-page-mobile);
  }
}
